{% load static %}
<!--DOCTYPE html-->
<html>
<!--所有的网页都会去套这个模板的-->

<!--模板的头-->
  <head>
    <title>搜索</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  
<!--图标网页-->
    <!--link rel="shortcut icon" href="{% static 'images/minus.png' %}"-->
<!--头样式CSS-->
    <!--link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"-->

	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
		a{TEXT-DECORATION:none}
		.table{font-size:14px;}
		p{margin: 0 0px;}
		.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{padding:8px;text-align:center;}		
	</style>
  </head>

<!--模板的体-->
  <body style="background-color:#F6F6F6;padding:0px 20px 0px 20px;">

	<div id="container-fluid" style="display:inline;float:center;padding:0px 20px 0px 20px;">
		<h1>ceshiceshi</h1>
	</div>
  </body>
</html>